*{
	margin:0;padding:0;box-sizing:border-box;
	font-family: 'Source Sans Pro', sans-serif;
}
table{
	border:none;
	justify-content:space-between;
}

table th{
	background-color:orange;
	text-align:center;
	color:white;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

table td{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color:white;
	font-weight:bold;
	background-color: purple;
}